<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="google" value="notranslate">
    <title>마인크래프트 블록코딩 작업환경</title>
    <link rel="icon" href="images/favicon.ico">
    <!--<link rel="stylesheet" href="google-blockly/demos/code/style.css">-->
    <link rel="stylesheet" href="libs/materialize/materialize.css" media="screen,projection">
    <script src="google-blockly/blockly_compressed.js"></script>
    <script src="google-blockly/blocks_compressed.js"></script>
    <script src="google-blockly/javascript_compressed.js"></script>
    <!--code.js is responsible for deciding where the language files are-->
    <!--<script src="js/code.js"></script>-->
    <script src="js/blocks.js"> </script>
    <script src="js/msg/js/ko.js"></script>
    <!--description of the Minecraft blocks for Blockly-->
    <script src="js/customblocks.js"></script>
    <script src="js/student-block.js"></script>
    <!--Contains the generator for the javascript used in scriptcraft-->
    <script src="js/customblocks-javascript-generator.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>

     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="stylesheets/coala.css" rel="stylesheet">
    <!--collapse library-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/prettify/javascript.css">

    <script src="google-blockly/msg/js/ko.js"></script>

</head>

<body>

  <!-- Horizontal Navigation bar -->
  <nav class="nav-fixed blue arduino_teal" style="padding:0px 30px;">
    <!--
      <div class="nav-wrapper container">
    -->
    <div class="nav-wrapper">
     <a class="show-on-large button-collapse" href="#" data-activates="slide-out" id="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <a id="logo-container" class="brand-logo">
        <span class="app_title translatable_title">마인크래프트 블록코딩</span>
        <!-- Sketch name editable text field -->
        <span class="sketch_name_wrapper">
          <i class="mdi-image-edit sketch_name_icon"></i>
          <input id="sketch_name" class="sketch_name" type="text" placeholder="파일이름 입력">
        </span>
      </a>
      <!-- Horizontal Navbar links only shown on large resolutions -->
      <ul id="nav-mobile" class="right hide-on-med-and-down">
	<!--
        <li><a href="#" id="fakeload"><span class="translatable_open">열기</span><i class="mdi-file-file-upload left"></i></a></li>
	<input type="file" id="loadxml" style="display: none;"/>
	-->

	<li><a href="#" id="button_load"><span class="translatable_open">열기</span><i class="mdi-file-file-upload left"></i></a></li>
        <li><a href="#" id="button_save"><span class="translatable_save">저장</span><i class="mdi-file-file-download left"></i></a></li>
        <li><a href="#" id="trashButton"><span class="translatable_deleteAll">모두지우기</span><i class="mdi-action-delete left"></i></a></li>
      </ul>
    </div>
  </nav>


<!-- Sidebar navigation -->
  <ul id="slide-out" class="side-nav">
    <li class="logo"><img src="images/logo.png" width="80%" alt="block image"></li>
    <li class="no-padding">
      <ul>
        <li id="menu_load"><a href="#"><span class="translatable_open">열기</span><i class="mdi-file-file-upload left"></i></a></li>
        <li id="menu_save"><a href="#"><span class="translatable_save">저장</span><i class="mdi-file-file-download left"></i></a></li>
        <li id="menu_delete"><a href="#"><span class="translatable_deleteAll">모두 지우기</span><i class="mdi-action-delete left"></i></a></li>
        <li id="menu_bug"><a href="https://www.coalasw.com" target="_blank"><span class="translatable_documentation">홈페이지</span><i class="mdi-action-help left"></i></a></li>
      </ul>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <div class="collapsible-header"><span class="translatable_examples">예제</span><i class="mdi-navigation-arrow-drop-down"></i></div>
          <div class="collapsible-body">
            <ul>
              <li id="menu_example_1"><a href="#!">Hello! 출력하기</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li class="no-padding side-menu-end">&nbsp;</li>
  </ul>


  <!--<div class="container">-->
  <div>
    <div class="row">
	<div class="col s12 m12 l8" style="position:relative">
	<div style="position:relative">

        <div id="ide_buttons_wrapper">
        <div id="deployButton" class="btn-floating btn-large halfway-fab teal"><i class="material-icons md-35">play_arrow</i>
        </div>
        </div>

        <div id="tab_blocks" class="tabon" style="display: none;"></div>


        <!-- Blockly Panel -->
        <div class="card-panel white" style="padding: 0">
          <div id="blocks_panel" class="content blocks_panel_large">
            <div id="content_blocks" class="content z-depth-1"></div>

	    <!-- DELETE content_javascript,content_xml Code.TABS_
	    <pre id="content_javascript" class="content"></pre>
	    <textarea id="content_xml" class="content" wrap="off"></textarea>
	    -->
    	  </div>
        </div>
      </div>
      </div>

      <div class="col s12 m12 l4">
      <div>
        <ul class="collapsible z-depth-1" data-collapsible="accordion">
	  <li>
            <div class="collapsible-header active" id="ajax_javascript">
              <span class="collapsible_logo">{ }</span>
              <span class="translatable_arduinoSourceCode">자바스크립트 코드</span>
            </div>
            <div class="collapsible-body">
              <pre id="coll_javascript" class="content content_height_transition content_arduino_large" wrap="virtual"></pre>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>

<!-- General Alert: Content is loaded using JavaScript to display alerts -->
  <div id="gen_alert" class="modal modal_small modal-fixed-footer">
    <div class="modal-content">
      <h5 id="gen_alert_title">Empty Alert</h4>
      <p><span id="gen_alert_body">Empty alert text</span></p>
    </div>
    <div class="modal-footer">
      <a id="gen_alert_ok_link" href="#" class="waves-effect btn-flat modal-close"><span class="translatable_okay">Okay</span></a>
      <a id="gen_alert_cancel_link" href="#" class="waves-effect btn-flat modal-close"><span class="translatable_cancel">Cancel</span></a>
    </div>
  </div>

  <!--File load and save-->
  <script type="text/javascript" src="libs/BlobBuilder.min.js"></script>
  <script type="text/javascript" src="libs/FileSaver.min.js"></script>
  <script src="libs/materialize/materialize.js"></script>
  <script src="libs/diff.js"></script>
  <!-- Prettify JS -->
  <script src="libs/prettify/prettify.js"></script>
  <script src="js/code_blockly.js"></script>
  <script src="js/code_design.js"></script>
  <script src="js/code.js"></script>


</body>

</html>
