<!doctype html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="author" content="Chris Barr - chris-barr.com">
	<meta name="description" content="A simple way to add file drag-n-drop to your web projects">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<title>블록파일 업로더</title>
	
	<link rel="stylesheet" type="text/css" href="editor/stylesheets/styles/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="editor/stylesheets/styles/demo.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="editor/libs/jQuery.FileDrop.all.js"></script>
	<script src="editor/upload.js"></script>
</head>
<body class='container'>

	<div class="page-header">
		<h2>마인크래프트 코드블록 업로더</h2>
	<button class="btn" id="demos" style="float: right;"><i class="fa fa-upload">파일업로드</i></button>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="well">
				<h3>이 페이지의 아무 곳이나 파일을 드레그 해주세요.</h3>
			</div>
		</div>
		<div class="col-md-8">
			<strong id='drop-demo-count'></strong>
			<pre id='drop-demo-output'>
			<!--파일 내용이 여기에 표시됩니다.-->
			</pre>
		</div>
	</div>
	

	<script>
	    document.getElementById("demos").addEventListener("click", deploy);

	    function deploy() {

    		var code = document.getElementById('drop-demo-output').textContent;
    		console.log(code);
    		//prettyPrintOne(code, 'js');
                var xhttp;
                if (window.XMLHttpRequest) {
                   xhttp = new XMLHttpRequest();
                } else {
                   // code for IE6, IE5
                   xhttp = new ActiveXObject("Microsoft.XMLHTTP");
                }
                   xhttp.onreadystatechange = function () {
                   if (xhttp.readyState == 4 && xhttp.status == 200) {
                        alert("파일이 업로드 되었습니다.");
                   }
                 };
                 xhttp.open('POST', '/uploadjs/', true);
                 xhttp.send(code);
	    }

	</script>


	<div id="drop-overlay">
		<h1 id='drop-msg'>Drop Your Files Anywhere!</h1>
		<div id="drop-backdrop"></div>
	</div>

</body>
</html>
