      html, body {
        height: 100%;
      }
      body {
        background-color: #fff;
        font-family: sans-serif;
        margin: 0 5px;
        overflow: hidden
      }
      h1 {
        font-weight: normal;
        font-size: 140%;
      }
      h3 {
        margin-top: 5px;
        margin-bottom: 0;
      }
      table {
        height: 100%;
        width: 100%;
      }
      td {
        vertical-align: top;
        padding: 0;
      }
      #blockly {
        position: fixed;
            width: 48%;
        height: 400px;
          }
      #blocklyMask {
        background-color: #000;
        cursor: not-allowed;
        display: none;
        position: fixed;
        opacity: 0.2;
        z-index: 9;
      }
      #preview {
        position: absolute;
      }
      pre,
      #languageTA {
        border: #ddd 1px solid;
        margin-top: 0;
        position: absolute;
        overflow: scroll;
      }
      #languageTA {
        display: none;
        font-family: monospace;
        font-size: 10pt;
      }

      button {
        border-radius: 4px;
        border: 1px solid #ddd;
        background-color: #eee;
        color: #000;
        padding: 10px;
        margin: 0 5px;
        font-size: large;
      }
      button:hover:not(:disabled) {
        box-shadow: 2px 2px 5px #888;
      }
      button:disabled {
        opacity: 0.6;
      }
      button>* {
        opacity: 0.6;
        vertical-align: text-bottom;
      }
      button:hover:not(:disabled)>* {
        opacity: 1;
      }
      #linkButton {
        display: none;
      }
      .editor-panel {
	  margin: 0;
	  padding: 0;
	  width: 100%;
	  background-color: #ffffff;
	  position: relative !important;
	  min-height: 100%;
	  min-width: 100%;
      }
      #editor {
        border: 1px solid lightgray;
        margin: auto;
        /* 
	position: fixed;
	bottom: 20px;
        height: 350px;
	width: 48%;
	*/
	    
      }
 
